<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="css/index.css">

  <title>Rumusku</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="index.html">Rumusku</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#bmi">BMI</a>
          <a class="nav-item nav-link" href="#bangun">Bangun</a>
          <a class="nav-item nav-link disabled" href="#">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Akhir Navbar -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <img src="img/gambar1.png" alt="rumus" class="gambarHeader mb-5">
      <h1>Selamat Datang, di Rumusku</h1>
      <p class="lead">Silahkan pilih Rumus di web ini, yang kalian perlukan</p>
    </div>
  </div>

  <!-- Akhir Jumbotron -->

  <!-- bmi -->
  <section id="bmi">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>BMI</h2>
          <hr>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <p><b>Apa Itu BMI (Body Mass Index)?</b> <br>
            Apa Itu BMI (Body Mass Index)?Vista Bunda / November 4, 2013 / No Comments
            Share
            BMI dan status berat badan - VistaBundaDotCom
            Pengertian BMI (Body Mass Index)
            BMI (body mass index) atau indeks massa tubuh adalah angka yang menyatakan perbandingan berat badan (dalam
            kilogram) terhadap kuadrat tinggi badan (dalam meter). BMI bukan suatu besaran sehingga tidak memiliki
            satuan. <br>
            <b>Kegunaan BMI </b> <br>
            BMI adalah salah satu indikator kadar relatif lemak tubuh seseorang yang sudah dewasa dengan usia 20 tahun
            ke atas. BMI digunakan untuk menentukan status berat badan seseorang apakah seseorang memiliki badan yang
            terlalu kurus, ideal, atau terlalu gemuk. BMI membantu menilai status berat badan seseorang terhadap resiko
            masalah kesehatan akibat kekurangan atau kelebihan berat badan. BMI tidak bisa digunakan untuk diagnosis
            kondisi kesehatan seseorang. Dokter menggunakan BMI untuk menilai status berat badan seseorang berkaitan
            dengan resiko masalah kesehatan tertentu. Untuk mendiagnosis kondisi seseorang, dokter akan melakukan
            pemeriksaan medis.
            <p>Klik di bawah ini untuk Menghitung BMI</p>
            <a href="modul_bmi/bmi.html">Menghitung BMI</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Akhir BMi -->

  <!-- Bangun -->
  <section id="bangun" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-5">
          <h2>Rumus Bangun</h2>
          <hr>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <h4>1. Bangun Datar</h4>
          <a href="/persegi" class="a">
            <h5 class="ml-4">a. Persegi</h5>
          </a>
          <a href="/persegiPanjang" class="a">
            <h5 class="ml-4">b. Persegi Panjang</h5>
          </a>
          <a href="modul_bangun_datar/segitiga.html" class="a">
            <h5 class="ml-4">c. Segitiga</h5>
          </a>
          <a href="modul_bangun_datar/jajargenjang.html" class="a">
            <h5 class="ml-4">d. Jajargenjang</h5>
          </a>
          <a href="modul_bangun_datar/trapesium.html" class="a">
            <h5 class="ml-4">e. Trapesium</h5>
          </a>
          <a href="modul_bangun_datar/layangLayang.html" class="a">
            <h5 class="ml-4">f. Layang-layang</h5>
          </a>
          <a href="modul_bangun_datar/belahKetupat.html" class="a">
            <h5 class="ml-4">d. Belah ketupat</h5>
          </a>
          <a href="modul_bangun_datar/lingkaran.html">
            <h5 class="ml-4">e. Lingkaran</h5>
          </a>
          <h4>2. Bangun Ruang</h4>
          <a href="modul_bangun_ruang/kubus.html" class="a">
            <h5 class="ml-4">a.Kubus</h5>
          </a>
          <a href="modul_bangun_ruang/balok.html" class="a">
            <h5 class="ml-4">b.Balok</h5>
          </a>
          <a href="modul_bangun_ruang/limas.html" class="a">
            <h5 class="ml-4">c.Limas</h5>
          </a>
          <a href="modul_bangun_ruang/prisma.html" class="a">
            <h5 class="ml-4">d.prisma</h5>
          </a>
          <a href="modul_bangun_ruang/tabung.html" class="a">
            <h5 class="ml-4">e.Tabung</h5>
          </a>
          <a href="modul_bangun_ruang/kerucut.html" class="a">
            <h5 class="ml-4">f.Kerucut</h5>
          </a>
          <a href="modul_bangun_ruang/bola.html" class="a">
            <h5 class="ml-4 mb-4">d.Bola</h5>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Akhir Bangun -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>