<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="../css/index.css">


  <title>Persegi Panjang</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Rumusku</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">BMI</a>
          <a class="nav-item nav-link" href="#">Bangun</a>
          <a class="nav-item nav-link disabled" href="#">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Akhir Navbar -->

  <!-- Persegi Panjang -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col text-center mt-4">
          <h2>Persegi Panjang</h2>
          <hr>
          <img src="../img/bangun_datar/persegi_pnajang.jpg" alt="rumus persegi" width="300">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8 mt-4">
          <h4>Definisi : </h4>
          <p class="ml-4">Persegi panjang adalah bangun datar dua dimensi yang dibentuk oleh dua pasang rusuk yang
            masing-masing sama panjang dan sejajar dengan pasangannya, dan memiliki empat buah sudut siku-siku.</p>
          <h4>Sifat-Sifat : </h4>
          <p class="ml-4">
            <ul>
              <li>Sisi yang berhadapan sama panjang dan sejajar.</li>
              <li>Mempunyai 4 sudut siku-siku 90â°.</li>
              <li>Sisi-sisi persegi panjang saling tegak lurus</li>
              <li>Mempunyai 4 sudut siku-siku 90â°.</li>
              <li>Mempunyai 2 diagonal yang sama panjang</li>
              <li>Mempunyai 2 simetri lipat.</li>
              <li>Mempunyai 2 simetri putar</li>
            </ul>
          </p>
          <h4>Rumus :</h4>
          <p>
            <ul>
              <li>Keliling : 2 X (P X L) </li>
              <li>Luas : P X L</li>
            </ul>
            Keterangan :
            <ul>
              <li>P = Panjang</li>
              <li>L = Lebar</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Akhir Persegi -->

  <!-- Menghitung Rumus Persegi -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-4">
          <h2>Menghitung Rumus Persegi Panjang</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 mt-4">
          <h4>1. Menghitung Keliling</h4>
          <p>Rumus : 2 X (P + L)</p>
          <p>
            <form action="/kpPanjang" id="formK" method="POST">
              <Label>Masukan Panjang (Cm)</Label>
              <input type="text" name="panjang" id="panjang" class="form-control">

              <Label>Masukan Lebar (Cm)</Label>
              <input type="text" name="lebar" id="lebar" class="form-control">

              <button type="submit" class="btn btn-primary mt-4">Hitung</button>
              <button type="submit" class="btn btn-danger mt-4" onclick="reset()">Reset</button>
              <br>
              <label for="hasilK" class="mt-4">Hasil :</label>
              <input type="text" name="hasilK" id="hasilK" class="form-control mt-2" disabled>

            </form>
          </p>
        </div>
        <div class="col-md-3 mt-4">
          <h4>2. Menghitung Luas</h4>
          <p>Rumus : P X L </p>
          <p>
            <form action="/lpPanjang" id="formL" method="POST">
              <Label>Masukan Panjang (Cm)</Label>
              <input type="text" name="panjangL" id="panjangL" class="form-control">

              <Label>Masukan Lebar (Cm)</Label>
              <input type="text" name="lebarL" id="lebarL" class="form-control">

              <button type="submit" class="btn btn-primary mt-4">Hitung</button>
              <button type="submit" class="btn btn-danger mt-4" onclick="reset()">Reset</button>
              <br>
              <label for="hasilL" class="mt-4">Hasil :</label>
              <input type="text" name="hasilL" id="hasilL" class="form-control mt-2" disabled>
            </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Ahir Menghitung -->




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../js/bangun_datar/persegiPanjang.js"></script>
</body>

</html>